@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black; 
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#container {
    text-align: center;
}

h1 {
    font-size: 10em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
}
