@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 40px 15px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin-top: 0;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 25px;
    margin: 15px 0;
}

.profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-width: 5px;
    border: solid #222;
    border-color: #222;
    object-fit: cover;
}

.buttons {
    margin-top: 20px;
    width: 100%;
}

.button {
    display: block;
    background-color: #222;
    color: #fff;
    padding: 15px 20px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.button.active {
    background-color: #007bff;
}

.button:hover {
    background-color: #333;
    transform: scale(1.05);
}

.playlist-container {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 80px; /* Add this line to create space for the footer */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #808080;
    padding: 10px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.footer-text {
    margin: 0;
}

@media screen and (max-width: 480px) {
    body {
        padding: 30px 15px 15px;
    }

    .container {
        width: 90%;
    }

    .profile img {
        width: 130px;
        height: 130px;
        border-width: 5px;
        border-color: #222;
        border: solid #222;
    }

    .button {
        font-size: 15px;
        padding: 15px 15px;
        border-radius: 12px;
    }
    
.playlist-button {
    position: relative;
    display: block;
    background-color: #222;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    border: none;
}

.playlist-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    border: 4px solid #808080;
    animation: border-animation 5s ease-in-out infinite;
}

.playlist-button:hover {
    background-color: #333;
}


@keyframes border-animation {
    0% {
        border-image: linear-gradient(to right, #ffd700, #222, #ffd700) 1;
        border-image-slice: 1;
    }
    50% {
        border-image: linear-gradient(to right, #222, #ffd700, #222) 1;
        border-image-slice: 1;
    }
    100% {
        border-image: linear-gradient(to right, #ffd700, #222, #ffd700) 1;
        border-image-slice: 1;
    }
}

}
